[Unit]
Description=Kmonad
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/kmonad /home/pohl/.config/kmonad/laptop.kbd
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
